form {
    border: 1px solid black;
    margin: 0 28%;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  label {
    width: 80%;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
  }
  input {
    display: block;
    margin-bottom: 25px;
    height: 6vh;
    width: 100%;
  }
  button {
    padding: 10px 30px;
    text-transform: uppercase;
    cursor: pointer;
  }