@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  direction: rtl;
  /* background: #EAF3F8; */
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  /* max-height: 100vh; */
  /* background-color: #da7070; */
}
* {
  transition: all ease-in-out .9ms;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
